In [4]:
import sqlite3
import pymssql
import pandas as pd

ruta_archivo1 = 'C:\\Users\\valen\\OneDrive\\Documentos\\VALEN UAO\\ETI\\ACTIVIDAD1\\BASE_DE_TRABAJO_SABER11.xlsx'

df1=pd.read_excel(ruta_archivo1)
ruta_archivo2 = 'C:\\Users\\valen\\OneDrive\\Documentos\\VALEN UAO\\ETI\\ACTIVIDAD1\\COMPLETA-CARACTERIZACIÓN EST PRIMER SEMESTRE (1) - copia.xlsx'

df2=pd.read_excel(ruta_archivo2)

In [5]:
#del df1

In [ ]:
#del df2

In [6]:
import pandas as pd
from unidecode import unidecode
# Función para remover tildes de los nombres de las columnas
def remover_tildes_columnas(df):
    df.columns = [unidecode(col) for col in df.columns]
    return df

# Aplicar la función a ambas bases de datos
df1 = remover_tildes_columnas(df1)
df2 = remover_tildes_columnas(df2)

In [7]:
# Asegurar que la columna clave tenga el mismo nombre en ambas bases
df1.rename(columns={"Codigo Estudiante": "codigo_estudiante"}, inplace=True)
df2.rename(columns={"Codigo Estudiante": "codigo_estudiante"}, inplace=True)

In [8]:
# Completar df1 con la información de df2 usando "codigo_estudiante" como clave
# Se mantiene toda la información de df1 y se agregan datos coincidentes de df2
df_final = pd.merge(df1, df2, on="codigo_estudiante", how="left")

In [9]:
from unidecode import unidecode

# Normalizar nombres de columnas en df_final sin corchetes
df_final.columns = [
    unidecode(col).replace(' ', '_').replace('-', '_').replace('.', '_')
    for col in df_final.columns
]

In [10]:
from unidecode import unidecode

# Normalizar nombres de columnas en df_final sin corchetes
df_final.columns = [unidecode(col).replace(" ", "_") for col in df_final.columns]

# Crear la estructura de la tabla con los tipos de datos (sin corchetes `[]`)
columnas_sql = ", ".join([
    f"{col}" if df_final[col].dtype == "O" else f"{col} FLOAT"
    for col in df_final.columns
])

In [11]:
import pymssql

#conexión con la BD
conn = pymssql.connect(
    server='127.0.0.1',
    user='sa',
    password='12345678',
    #database='master1',
    as_dict= False
)

# Se crea el cursor para manejo de qwery
cur = conn.cursor()

In [12]:
# Crear una nueva base de datos en SQL Server
db_name = "Actividades_ETL4"

try:
    # Se verifica que no haya transacciones activas en la base de datos
    cur.execute("IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION")

    # Se consulta si la base de datos ya existe en el sistema
    cur.execute(f"SELECT name FROM sys.databases WHERE name = '{db_name}'")
    
    # Se obtiene el resultado de la consulta
    resultado = cur.fetchone()

    # Si la base de datos ya existe, se muestra un mensaje
    if resultado:
        print(f"La base de datos '{db_name}' ya existe.")
    else:
        # Si la base de datos no existe, se crea con CREATE DATABASE
        cur.execute(f"CREATE DATABASE {db_name}")
        print(f"Base de datos '{db_name}' creada.")

# Captura cualquier error que ocurra durante la ejecución del código
except Exception as e:
    print(f"Error al verificar o crear la base de datos: {e}")

La base de datos 'Actividades_ETL4' ya existe.

In [13]:
import re

# Nombre de la nueva tabla
new_tb_name = "tabla_etl_nueva1"

try:
    # Función para limpiar nombres de columnas y evitar errores de SQL
    def limpiar_nombre(col):
        col = col.strip().replace(' ', '_')  # Reemplazar espacios por guion bajo
        col = re.sub(r'[^a-zA-Z0-9_]', '', col)  # Eliminar caracteres especiales
        return col[:128]  # Limitar a 128 caracteres máximo

    # Construcción de la definición de columnas SQL
    columnas_sql = ", ".join([
        f"[{limpiar_nombre(col)}] NVARCHAR(MAX)" if df_final[col].dtype == "O" 
        else f"[{limpiar_nombre(col)}] FLOAT"
        for col in df_final.columns
    ])

    # Query para crear la tabla si no existe
    sql_query = f"""
    IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES 
                   WHERE TABLE_NAME = '{new_tb_name}' AND TABLE_SCHEMA = 'dbo') 
    BEGIN 
        CREATE TABLE dbo.{new_tb_name} ({columnas_sql}) 
    END
    """

    cur.execute(sql_query)

    print(f"Tabla '{new_tb_name}' creada exitosamente en la base de datos 'Actividades_ETL4'.")

except Exception as e:
    print(f"Error al crear la tabla: {e}")

Tabla 'tabla_etl_nueva1' creada exitosamente en la base de datos 'Actividades_ETL4'.

In [14]:
try:
    # 1. Verificar si la tabla existe en la base de datos
    cur.execute(f"SELECT COUNT(*) FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'tabla_etl_nueva1'")
    existe = cur.fetchone()[0]

    if existe == 0:
        print("La tabla 'tabla_etl_nueva1' no existe en la base de datos.")
    else:
        print(" La tabla 'tabla_etl_nueva1' existe en la base de datos.")

        # 2. Insertar los datos en la tabla
        print(" Insertando datos en la tabla 'tabla_etl_nueva'...")

        # Reemplazar NaN con None para evitar errores en SQL Server
        df_final_clean = df_final.replace({np.nan: None})

        # Construcción de la consulta de inserción
        columnas = ", ".join([f"[{col.replace(' ', '_')}]" for col in df_final_clean.columns])
        valores_placeholder = ", ".join(["%s"] * len(df_final_clean.columns))

        insert_query = f"INSERT INTO tabla_etl_nueva1 ({columnas}) VALUES ({valores_placeholder})"

        # Convertir DataFrame a lista de tuplas para inserción
        datos_a_insertar = [tuple(row) for row in df_final_clean.itertuples(index=False, name=None)]

        # Insertar datos en lotes
        cur.executemany(insert_query, datos_a_insertar)
        conn.commit()

        print(f" Se han insertado {len(df_final_clean)} filas en la tabla 'tabla_etl_nueva1'.")

except Exception as e:
    conn.rollback()
    print(f" Error al insertar datos en la tabla: {e}")

 La tabla 'tabla_etl_nueva1' existe en la base de datos.
 Insertando datos en la tabla 'tabla_etl_nueva'...
 Error al insertar datos en la tabla: name 'np' is not defined

In [15]:
import numpy as np
import re

try:
    # Convertir NaN a None para que SQL Server los acepte
    df_final_clean = df_final.replace({np.nan: None})

    # Función para limpiar nombres de columnas
    def limpiar_nombre(col):
        col = col.strip().replace(' ', '_')  # Reemplazar espacios por guion bajo
        col = re.sub(r'[^a-zA-Z0-9_]', '', col)  # Eliminar caracteres especiales
        return col[:128]  # Limitar a 128 caracteres máximo

    # Aplicar la función a los nombres de las columnas
    columnas_limpias = [f"[{limpiar_nombre(col)}]" for col in df_final_clean.columns]

    # Construcción de la consulta SQL
    columnas_sql = ", ".join(columnas_limpias)
    valores_placeholder = ", ".join(["%s"] * len(df_final_clean.columns))

    insert_query = f"INSERT INTO tabla_etl_nueva1 ({columnas_sql}) VALUES ({valores_placeholder})"

    # Convertir DataFrame a lista de tuplas para la inserción
    datos_a_insertar = [tuple(row) for row in df_final_clean.itertuples(index=False, name=None)]

    # Ejecutar la inserción en lotes
    cur.executemany(insert_query, datos_a_insertar)
    conn.commit()  # Confirmar la transacción

    print(f" Se han insertado {len(df_final_clean)} filas en la tabla 'tabla_etl_nueva1'.")

except Exception as e:
    print(f" Error al insertar datos: {e}")

 Se han insertado 11729 filas en la tabla 'tabla_etl_nueva1'.

In [16]:
import pymssql

#conexión con la BD
conn = pymssql.connect(
    server='127.0.0.1',
    user='sa',
    password='12345678',
    database='Actividades_ETL4',
    as_dict= False
)

# Se crea el cursor para manejo de qwery
cur = conn.cursor()

In [17]:
try:
    # 1. Verificar si la tabla existe en la base de datos
    cur.execute(f"SELECT COUNT(*) FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'tabla_etl_nueva1'")
    existe = cur.fetchone()[0]
    
    if existe == 0:
        print("La tabla 'tabla_etl_nueva1' no existe en la base de datos.")
    else:
        print("La tabla 'tabla_etl_nueva1' existe en la base de datos.")

        # 2. Contar cuántas filas tiene la tabla
        cur.execute("SELECT COUNT(*) FROM tabla_etl_nueva1")
        num_filas = cur.fetchone()[0]
        print(f"La tabla tiene {num_filas} filas.")

        # 3. Ver los primeros 5 registros de la tabla
        cur.execute("SELECT TOP 5 * FROM tabla_etl_nueva1")
        filas = cur.fetchall()
        print("Primeros 5 registros de la tabla:")
        for fila in filas:
            print(fila)

        # 4. Ver el esquema de la tabla
        cur.execute(f"""
            SELECT COLUMN_NAME, DATA_TYPE
            FROM INFORMATION_SCHEMA.COLUMNS
            WHERE TABLE_NAME = 'tabla_etl_nueva1'
        """)
        columnas = cur.fetchall()
        print("Esquema de la tabla:")
        for col in columnas:
            print(f"Columna: {col[0]}, Tipo de dato: {col[1]}")

except Exception as e:
    print(f" Error al consultar la tabla: {e}")

La tabla 'tabla_etl_nueva1' existe en la base de datos.
La tabla tiene 11729 filas.
Primeros 5 registros de la tabla:
(2195323.0, 'AC201910033951', '2019', '20191', 430.3846153846154, 430.3846153846154, 83.0, 81.0, 100.0, 80.0, 87.0, '5.B+', '2019-3', 2019.0, 'Masculino', 18.0, '[15-19]', 'Soltero', 5.0, 'Cali', 'Colombia', 'Cali', 55170.0, 'INGENIERIA ELECTRONICA Y TELECOMUNICACIONES', 'INGENIERIA ELECTRONICA Y TELECOMUNICACIONES-55170', 'EKT', 'EK06', 'REGULAR', 'INGENIERIA', 'Universitario', 'PRESENCIAL', 376001013441.0, 'COLEGIO BILINGÜE DIANA OESE', 'Valle Del Cauca', 'Cali', 'NO OFICIAL', 'A+', 'Registro Alta Calidad', 'AC201910033951', '2019-3')
(22501672.0, 'AC202433990587', '20243', '20243', 425.0, 425.0, 81.0, 81.0, 100.0, 79.0, 81.0, '5.B+', '2025-21', 2025.0, 'Masculino', 17.0, '[15-19]', 'Soltero', 3.0, 'CALI', 'COLOMBIA', 'CALI', 110364.0, 'INGENIERIA INFORMATICA', 'INGENIERIA INFORMATICA-110364', 'ISH', 'ISGB', 'DIGICAMPUS', 'INGENIERIA Y CIENCIAS BASICAS', 'Universitario', 'VIRTUAL', 176001022360.0, 'INSTITUCION EDUCATIVA TECNICA COMERCIAL LAS AMERICAS', 'Valle Del Cauca', 'CALI', 'OFICIAL', 'B', 'Registro Alta Calidad', 'AC202433990587', '2025-1')
(22500852.0, 'AC202433990587', '20243', '20243', 425.0, 425.0, 81.0, 81.0, 100.0, 79.0, 81.0, '5.B+', '2025-1', 2025.0, 'Masculino', 17.0, '[15-19]', 'Soltero', 3.0, 'CALI', 'COLOMBIA', 'CALI', 20151.0, 'INGENIERIA BIOMEDICA', 'INGENIERIA BIOMEDICA-20151', 'BM', 'BM04', 'REGULAR', 'INGENIERIA Y CIENCIAS BASICAS', 'Universitario', 'PRESENCIAL', 176001022360.0, 'INSTITUCION EDUCATIVA TECNICA COMERCIAL LAS AMERICAS', 'Valle Del Cauca', 'CALI', 'OFICIAL', 'B', 'Registro Alta Calidad', 'AC202433990587', '2025-1')
(2225642.0, 'AC202210102103', '2022', '20221', 428.46153846153845, 428.46153846153845, 81.0, 83.0, 100.0, 78.0, 88.0, '5.B+', '2022-3', 2022.0, 'Masculino', 19.0, '[15-19]', 'Soltero', 5.0, 'Cali', 'Colombia', 'Cali', 20151.0, 'INGENIERIA BIOMEDICA', 'INGENIERIA BIOMEDICA-20151', 'BM', 'BM04', 'REGULAR', 'INGENIERIA', 'Universitario', 'PRESENCIAL', 376001013441.0, 'COLEGIO BILINGÜE DIANA OESE', 'Valle Del Cauca', 'Cali', 'NO OFICIAL', 'A+', 'Registro Alta Calidad', 'AC202210102103', '2022-3')
(22500327.0, 'AC202431499839', '20243', '20243', 443.0, 443.0, 78.0, 100.0, 100.0, 77.0, 87.0, '5.B+', '2025-1', 2025.0, 'Femenino', 17.0, '[15-19]', 'Soltero', 2.0, 'POPAYAN', 'COLOMBIA', 'POPAYAN', 20115.0, 'INGENIERIA INFORMATICA', 'INGENIERIA INFORMATICA-20115', 'IS', 'IS06', 'REGULAR', 'INGENIERIA Y CIENCIAS BASICAS', 'Universitario', 'PRESENCIAL', 119001000052.0, 'INSTITUCION EDUCATIVA NUESTRA SEÑORA DEL CARMEN-CAUCA', 'Cauca', 'POPAYAN', 'OFICIAL', 'A+', 'Registro Alta Calidad', 'AC202431499839', '2025-1')
Esquema de la tabla:
Columna: codigo_estudiante, Tipo de dato: float
Columna: Registro_SNP, Tipo de dato: nvarchar
Columna: Periodo_Presentacion1, Tipo de dato: nvarchar
Columna: Periodo_Presentacion, Tipo de dato: nvarchar
Columna: Puntaje_Global_ICFES, Tipo de dato: float
Columna: A_Global, Tipo de dato: float
Columna: A_Lectura_Critica, Tipo de dato: float
Columna: A_Matematicas, Tipo de dato: float
Columna: A_Sociales_y_Ciudadanas, Tipo de dato: float
Columna: A_Ciencias_Naturales, Tipo de dato: float
Columna: A_Ingles, Tipo de dato: float
Columna: A_Nivel_Ingles, Tipo de dato: nvarchar
Columna: Periodo_Academico, Tipo de dato: nvarchar
Columna: Ano, Tipo de dato: float
Columna: Genero, Tipo de dato: nvarchar
Columna: Edad, Tipo de dato: float
Columna: Rango_Edad, Tipo de dato: nvarchar
Columna: Estado_Civil, Tipo de dato: nvarchar
Columna: Estrato_Economico, Tipo de dato: float
Columna: Municipio_Nacimiento, Tipo de dato: nvarchar
Columna: Pais_Nacimiento, Tipo de dato: nvarchar
Columna: Ciudad_Residencia, Tipo de dato: nvarchar
Columna: SNIES, Tipo de dato: float
Columna: Programa1, Tipo de dato: nvarchar
Columna: Programa, Tipo de dato: nvarchar
Columna: Cod_Programa, Tipo de dato: nvarchar
Columna: Plan, Tipo de dato: nvarchar
Columna: Tipo_Oferta, Tipo de dato: nvarchar
Columna: FACULTAD, Tipo de dato: nvarchar
Columna: Nivel_de_Formacion, Tipo de dato: nvarchar
Columna: Modalidad_Programa, Tipo de dato: nvarchar
Columna: Codigo_Dane, Tipo de dato: float
Columna: Colegio, Tipo de dato: nvarchar
Columna: Departamento_Colegio, Tipo de dato: nvarchar
Columna: Ciudad_Colegio, Tipo de dato: nvarchar
Columna: Colegio_Sector, Tipo de dato: nvarchar
Columna: Colegio_Clasificacion, Tipo de dato: nvarchar
Columna: Reconocimiento_del_ministerio, Tipo de dato: nvarchar
Columna: SNP, Tipo de dato: nvarchar
Columna: PERIODO_REGULAR, Tipo de dato: nvarchar